name: Documentation release

on:
  push:
    branches: [ master ]
    paths:
    - 'docs/**'
    - 'package.json'
  workflow_dispatch:

jobs:
  build_documentation:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        
      - name: Build documentation
        run: |
          npm ci
          npm run build:docs

      - name: Initialize repo with docs
        run: git init ./docs/.vitepress/dist

      - name: Commit updated docs
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add -A
          git commit -m "Updated docs from ${{ github.sha }}"
          git push --verbose -f "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git" master:gh-pages
        working-directory: ./docs/.vitepress/dist
